!Tokyo Night theme
! general
*foreground: #ecf0c1
*background: #0f111b
*cursorColor: #ffffff

! terminal padding color
*borderColor: #1a1b26

! black
*color0: #000000
*color8: #4e5173

! red
*color1: #e33400
*color9: #e39400

! green
*color2: #5ccc96
*color10: #5ccc96

! yellow
*color3: #f2ce00
*color11: #f2ce00

! blue
*color4: #818596
*color12: #c1c3cc

! magenta
*color5: #ce6f8f
*color13: #ce6f8f

! cyan
*color6: #00a3cc
*color14: #00a3cc

! white
*color7: #acb0d0
*color15: #acb0d0
! Tokyo Night theme ends

! Sizing
/*SMALL*/
st.font:         JetBrainsMono Nerd Font:style:medium:pixelsize=18
Xft.dpi: 100

/*MEDIUM*/
/* st.font:         JetBrainsMono Nerd Font:style:medium:pixelsize=22 */
/* Xft.dpi: 120 */

/*BIG*/
/* st.font:         JetBrainsMono Nerd Font:style:medium:pixelsize=24 */
/* Xft.dpi: 140 */
