! general
*background:  #000b1e
*foreground:  #0abdc6
*cursorColor: #ffffff
! terminal padding color
*borderColor: #1a1b26

! black
*color0:  #123e7c
*color8:  #1c61c2

! red
*color1:  #ff0000
*color9:  #ff0000

! green
*color2:  #d300c4
*color10: #d300c4

! yellow
*color3:  #f57800
*color11: #f57800

! blue
*color4:  #123e7c
*color12: #00ff00

! magenta
*color5:  #711c91
*color13: #711c91

! cyan
*color6:  #0abdc6
*color14: #0abdc6

! white
*color7:  #d7d7d5
*color15: #d7d7d5

! Sizing
/*SMALL*/
/* st.font:         JetBrainsMono Nerd Font:style:medium:pixelsize=22 */
/* Xft.dpi: 100 */

/*MEDIUM*/
st.font:         JetBrainsMono Nerd Font:style:medium:pixelsize=26
Xft.dpi: 150

/*BIG*/
/* st.font:         JetBrainsMono Nerd Font:style:medium:pixelsize=38 */
/* Xft.dpi: 200 */
